html {
	font-size: 16px;
	font-family: 'Assistant', sans-serif;
	background-color: #1C1D21;
}

.container {
	width: 100%;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: white;
}

header {
	display: flex;
	align-items: center;
	height: 8.125rem;
	background-color: white;
	width: 100%;
	position: fixed;
	top: 0;
	color: white;
	z-index: 60;
	justify-content: center;
}

header div {
	height: 8.125rem;
	width: 12.5rem;
	display: flex;
	justify-content: center;
}	

.logo {
	width: 100%;
	margin-top: 1rem;
}

.headtext {
	color: #1C1D21;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-size: 1rem;
	font-weight: 300;
	width: auto;
	padding-left: 2rem;
	padding-top: 2rem;
	height: 4.125rem;
}

.headtext h1 {
	color: #054A91;
	font-size: 1.25rem;
	padding-top: 1rem;
	font-weight: 600;
	letter-spacing: .1rem
}

.headtext h2 {
	font-weight: 800;
}

footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 4.25rem;
	background-color: white;
	color: black;
	position: fixed;
	bottom: 0;
}

.social {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
}

i {
	padding: 1rem;
	color: black;
}

.project_pic:hover {
	opacity: 1;
}

.portfolio {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	height: 40rem;
	margin: 0 auto;
	margin-top: 9.125rem;
	margin-bottom: 5.25rem;
	overflow: scroll;
}

/*Projects Code*/


.comingsoon {
	background-color: #F65C04;
	color: white;
	margin-top: 1rem;
	padding: .2rem;
	width: 70%;
	text-align: center;
}

.title {
	background-color: #1C1D21;
	border: solid .25px #1C1D21;
	color: white;
	padding: 1rem;
	margin-top: 2rem;
	width: 70%;
	text-align: center;
}

.title:hover {
	border: solid .25px #FFCC00;
	color: #FFCC00;
	box-shadow: 1px 1px 1px #000;
}

/*Project Background Images*/

.project_pic {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 24%;
	height: auto;
	opacity: .7;
	margin: .1rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#one {
	background-color: #D0CCD0;
}

#two {
	background-color: #D0CCD0;
}

#three {
	background-image: url("../images/construct.png");
}

#four {
	background-image: url("../images/colmar.png");
}

#five {
	background-image: url("../images/foto.png");
}

#six {
	background-image: url("../images/tshell.png");
}

#seven {
	background-image: url("../images/agent.png");
}

#eight {
	background-image: url("../images/dasmato.png");
}
#nine {
	background-image: url("../images/teacozy.png");
}

#ten {
	background-image: url("../images/myt.png");
}

#eleven {
	background-image: url("../images/broadway.png");
}

#twelve {
	background-image: url("../images/excursion.png");
}

.fa-instagram:hover {
	color: #A92EB2;
}

.fa-linkedin-square:hover {
	color: #0077B5;
}

.fa-behance:hover {
	color: #1769ff;
}

@media only screen and (max-width:750px) {
	.project_pic {
		width: 100%;
	}

	.headtext {
	display: none;
}

	.title {
	margin-top: .5rem;
}

	/* {
   background: #000 !important;
   color: #0f0 !important;
   outline: solid #f00 1px !important;*/ 
}