html {
	font-size: 16px;
	font-family: 'Assistant', sans-serif;
	background-color: #1C1D21;
}

.container {
	width: 1366px;
	margin: 0 auto;
	position: relative;
}

a {
	text-decoration: none;
	color: white;
}

header {
	display: flex;
	align-items: center;
	height: 8.125rem;
	background-color: white;
	width: 100%;
	position: fixed;
	top: 0;
	color: white;
	z-index: 60;
	justify-content: flex-start;
}

header div {
	height: 8.125rem;
	width: 12.5rem;
	padding-left: 11.55rem;
	display: flex;
}	

.logo {
	width: 100%;
	margin-top: 1rem;
}

.headtext {
	color: #1C1D21;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-size: 1rem;
	font-weight: 300;
	width: 25rem;
	padding-left: 3rem;
	padding-top: 4rem;
}

.headtext h1 {
	color: #054A91;
	font-size: 1.25rem;
	padding-top: 1rem;
	font-weight: 600;
	letter-spacing: .1rem
}

.headtext h2 {
	font-weight: 800;
}
footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 4.25rem;
	background-color: white;
	color: black;
	position: fixed;
	bottom: 0;
}

.social {
	display: flex;
	align-items: flex-start;
	font-size: 2rem;
	padding-left: 11.55rem;
}

i {
	padding: 1rem;
	color: black;
}

.portfolio div {
	display: flex;
	position: relative;
	width: 18%;
	padding: .875rem;
	position: relative;
}

.portfolio div img {
	display: flex;
	position: relative;
	background-size: cover;
	background-color: #D0CCD0;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	width: 100%;
	opacity: .2;
	justify-content: center;
	align-items: center;
}

.portfolio div img:hover {
	opacity: 1;
}

.portfolio {
	display: flex;
	justify-content: center;
	position: relative;
	flex-wrap: wrap;
	margin-top: 9.125rem;
	margin-bottom: 5.25rem;
	overflow: scroll;
}

.top {
	display: flex;
	position: absolute;
	flex-direction: column;
	z-index: 30;
}
.comingsoon {
	background-color: #F65C04;
	position: absolute;
	color: white;
	width: 60%;
	justify-content: center;
	z-index: 40;
}

.title {
	background-color: #1C1D21;
	position: absolute;
	color: white;
	width: 60%;
	justify-content: center;
	z-index: 50;
}

	/* {
   background: #000 !important;
   color: #0f0 !important;
   outline: solid #f00 1px !important;*/ 
}